/*
.bs-docs-footer-links li {
	display: inline;
	padding: 0 5%;
}

div.form .rememberMe label
{
	display: inline;
}

div.form input[type='text'], input[type='password']
{
	width: 96%;
}

*/
#footer {
	font-size: 0.75em;
   text-align: center;
}

#imgLogoLogin{
	background:url("caduceus.jpg") no-repeat;
	background-size:100%;
	height: 170px;
	float: left;
	width: 130px;
}


.tetris-thumbnail{
	width: 33%;
	float:left;
	height: 170px;
	/*padding: 2px;*/
}

.list-view{
	float: none;
}

.tetris-thumbnail > div {
	text-align: center;
	padding: 5px;
}
	
.pager {
	clear: both;
}

.columna {
	width: 40%;
	float:left;
	margin: 10px;
}

#divequipo, #divtelefonia{
	clear:both;
}

div.form .columna select, div.form .columna input[type='text'], div.form .columna input[type='password']
{
	width: 96%;
}

